<nav id='sidebarMenu' class="col-md-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <% if Rails.env.development? %>
      <%= switch_user_select %>
    <% end %>
    <% if current_user %>
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to submissions_path, class: "nav-link #{'active' if controller_name == 'submissions'}" do %>
            <span data-feather="edit"></span>
            Submissions
            <% if controller_name == 'submissions' %>
              <span class="sr-only">(current)</span>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path, class: "nav-link #{'active' if controller_name == 'users'}" do %>
            <span data-feather="edit"></span>
            Users
            <% if controller_name == 'users' %>
              <span class="sr-only">(current)</span>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to teams_path, class: "nav-link #{'active' if controller_name == 'teams'}" do %>
            <span data-feather="edit"></span>
            Teams
            <% if controller_name == 'teams' %>
              <span class="sr-only">(current)</span>
            <% end %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
