<nav id='sidebarMenu' class="col-md-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <% if Rails.env.development? %>
      <%= switch_user_select %>
    <% end %>
    <% if current_user %>
      <ul class="nav flex-column">
          <%= link_to teams_path, class: "nav-link #{'active' if controller_name == 'teams'}" do %>
            <span data-feather="edit"></span>
            <%= Team.model_name.human(count: 2) %>
            <% if controller_name == 'teams' %>
              <span class="sr-only">(current)</span>
            <% end %>
          <% end %>
      </ul>
    <% end %>
  </div>
</nav>
