<h1>Welcome to Switch Presents Hacktoberfest!</h1>

<p>
  Thank you for joining our very own <a href="https://www.switchpayments.com" target="_blank">Switch</a>
  Team for two days of intense open-source coding, riveting tech talks, and a few beers!
</p>

<p>Here are the rules:</p>
<ol>
  <li>Signup in the <a href="https://hacktoberfest.digitalocean.com" target="_blank">
      Hacktoberfest platform</a> by clicking on
    <a href="https://hacktoberfest.digitalocean.com/register" target="_blank">Start Hacking</a>
    and going through registration.
  </li>
  <li>Pull requests can be made in any GitHub or GitLab hosted project that’s participating in Hacktoberfest (find participating projects in the ‘hacktoberfest’ topic) and
    <strong>must be approved by a maintainer of the project to count toward your completed pull requests</strong>.
  </li>
  <li>Signup to join the Switch Scoreboard. You're already here.</li>
  <li>You must be part of a team. Teams can have between 1 to 3 members.
    Please tell the organization your team name so that we can create if it doesn't exist it and assign you to it.</li>
  <li>
    You should register your contributions in the Switch Scoreboard platform by adding an entry with the url
    to the contribution and the name of the project.</li>
  <li>
    Scores are set by votes. All participants vote in the entries added to the platform.
    The more upvotes you get, the more points you collect.
  </li>
  <li>
    Each participant gets <strong><%= MAXIMUM_VOTES_PER_USER %> votes</strong> to distribute amongst the other competitors.
    You cannot vote on your own entries. <strong>You must give out all of your <%= MAXIMUM_VOTES_PER_USER %> votes</strong>.
    You cannot vote in one entry more than once. You can change your votes around up to the end of the event.
  </li>
  <li>
    Entries must be submitted between the November 29th (17:30) and November 30th (23:30).
    Entries submitted outside the Switch office don't count.
  </li>
</ol>
<p>
  Hacktoberfest is a month-long global celebration of open source software run by
  DigitalOcean in partnership with Intel, AppWrite, and DeepSource,
  with a strong focus on encouraging contributions to open source projects.
</p>
